Repository ashrobertsdragon/LoreBinders: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, uv-lock-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        # Prevent giant files from being committed.
      - id: check-ast
        # Simply check whether files parse as valid python.
      - id: check-case-conflict
        # Check for files with names that would conflict on a case-insensitive
        # filesystem like MacOS HFS+ or Windows FAT.
      - id: check-json
        # Attempts to load all json files to verify syntax.
      - id: check-merge-conflict
        # Check for files that contain merge conflict strings.
      - id: check-symlinks
        # Checks for symlinks which do not point to anything.
      - id: check-toml
        # Attempts to load all TOML files to verify syntax.
      - id: check-xml
        # Attempts to load all xml files to verify syntax.
      - id: check-yaml
        # Attempts to load all yaml files to verify syntax.
      - id: debug-statements
        # Check for debugger imports and py37+ breakpoint() calls in python
        # source.
      - id: detect-private-key
        # Checks for the existence of private keys.
      - id: end-of-file-fixer
        # Makes sure files end in a newline and only a newline.
        exclude: ".*(data.*|extern.*|licenses.*|_parsetab.py)$"
      # - id: fix-encoding-pragma  # covered by pyupgrade
      - id: trailing-whitespace
        # Trims trailing whitespace.
        exclude: ".*(data.*|extern.*|licenses.*|_parsetab.py|test_cds.py)$"

  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff
        args: [format]
        language: system
        types: [python]
      - id: ruff
        name: Ruff
        entry: uv run ruff
        args: ["check", "--fix", "--exit-non-zero-on-fix"]
        types: [python]
        language: system
      - id: uv-lock-check
        name: Check uv.lock is up to date
        entry: uv lock --check
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

chore(dev): update dependencies and tooling
  .gitignore
  .python-version
  .qlty/.gitignore
  .qlty/configs/.yamllint.yaml
  .qlty/qlty.toml
  claude.md
  mypy.ini
  pyproject.toml
  uv.lock
Due: uv-lock-check

chore(dev): formatted yml, md files
  TODO.md
  tach.yml
Due: none

chore(dev): convert from stubs to py.typed
  pyproject.toml
  src/lorebinders/py.typed
  stubs/ai_classes/__init__.pyi
  stubs/ai_classes/ai_factory.pyi
  stubs/ai_classes/ai_interface.pyi
  stubs/ai_classes/exceptions.pyi
  stubs/ai_classes/openai.pyi
  stubs/binders.pyi
  stubs/book.pyi
  stubs/data_cleaner.pyi
  stubs/email_handler/email_handler/__init__.pyi
  stubs/email_handler/email_handler/send_email.pyi
  stubs/error_handler.pyi
  stubs/file_handling.pyi
  stubs/json_tools.pyi
  stubs/main.pyi
  stubs/make_pdf.pyi
Due: uv-lock-check

FIX: broken tests
  tests/integration/email_handlers/test_smtp_handler.py
  tests/integration/test_data_cleaner.py
  tests/unit/ai/test_ai_factory.py
Due: ruff-format, ruff

Ignore files
  .gitignore
  claude.md
Due: none

Update dependencies
  pyproject.toml
  uv.lock
Due: uv-lock-check

Create changelogs
  changelog.md
  documentation notes.txt
  documentation-notes.md
Due: none

update models
  src/lorebinders/json_files/ai_models.json
Due: none

FIX: Spelling errors
  src/lorebinders/email_handlers/email_content.html
  src/lorebinders/sort_names.py
Due: ruff-format, ruff

Fix failing tests
  changelog.md
  documentation-notes.md
  pyproject.toml
  src/lorebinders/_titles.py
  src/lorebinders/ai/ai_classes/api_anthropic.py
  src/lorebinders/ai/ai_models/_model_schema.py
  src/lorebinders/ai/ai_models/sql_provider_handler.py
  src/lorebinders/file_handling.py
  src/lorebinders/json_tools.py
  src/lorebinders/make_pdf.py
  tests/integration/test_data_cleaner.py
  tests/integration/test_make_pdf.py
  tests/integration/test_sort_names.py
  tests/unit/test_data_cleaner.py
  tests/unit/test_file_handling.py
  tests/unit/test_json_tools.py
  tests/unit/test_make_pdf.py
Due: ruff-format, ruff, uv-lock-check

Fix failing tests
  changelog.md
  src/lorebinders/email_handlers/smtp_handler.py
  tests/unit/email_handlers/test_smtp_handler.py
Due: ruff-format, ruff

Fix failing tests
  changelog.md
  tests/unit/name_tools/test_name_tools.py
Due: ruff-format, ruff
